* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
        
    font-family: Azonix;
    src: url(Azonix-1VB0.otf);
}
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #0687cd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.HeaderCapsule{

    width: 93vw;
    height: 5vh;
    background-color:  #006caf;
    margin: 1vw;
    margin-left: 1.75vw;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

}
.ClientWrapper{

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: white;
}
.ClientWrapper>img{

    background-color: white;
    padding: 5px;
    height: 2.2em;
    border-radius:40px ;
    margin-right: 1vw;
    
}
.AppName{

    color: white;
    font-size: x-large;
    font-family: Azonix,'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
}
.UpdateContainer{

    width: 45vw;
    height: 83vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    background-color: #a0acbd;
    display: flex;
    flex-direction: column;
}
.UpdateTitle{

    padding:0.2em;
    color: white;
    margin: 2vh 0 1vh 1.5vw;
}
.UpdatePanel{

    margin-left: 1.5vw;
    width: 42vw;
    height:71.5vh;
    background-color: white;
    border-radius: 50px;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.UpdatePanelIn{

    margin-top: 3vh;
    margin-left: 2vw;
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
}
.EmailContainer::before{

    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('profile.png');
    width: 2.5em;
    height: 2.5em;
    padding-left: 1vw;

}
.EmailContainer{

    padding: 0.5em 0.5em;
    background-color: #006caf;
    border:2px solid #a0acbd;
    color: white;
    font-size: large;
    border-radius: 50px;
    width: 38vw;
    margin-top: 2vh;
    animation: slideIn 1s;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    padding-right: 1em ;
    align-items: center;
    overflow-wrap: normal;
}
.OemUpdate::before{

    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('delivery-box.png');
    width: 2.5em;
    height: 2.5em;
    padding-left: 1vw;
}
.OemUpdate{

    padding: 0.5em 0.5em;
    background-color: #006caf;
    border:2px solid #eeeeee;
    color: white;
    font-size: large;
    border-radius: 50px;
    width: 38vw;
    margin-top: 2vh;
    animation: slideIn 1s;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    padding-right: 1em ;
    align-items: center;
    overflow-wrap: normal;
    transition: 0.5s ease;
}
.MainContentWrapper{

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.DataContainer{

    background-color: white;
    height: 95vh;
    width:calc(96.5vw);
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.ManagerContainer{

    width:45vw;
    height: 83vh;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
}
.container {
    background-color: #a0acbd;
    padding: 2em;
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 45vw;
    height:40vh;
    overflow: hidden;
}

h1, h2 {
    color: white;
    text-align: left;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="email"], input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 70%;  
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="email"]:focus, input[type="text"]:focus {
    border-color: #007BFF;
}
#addEmailBtn, #addEntryBtn {
    padding: 15px;
    
    height: 40px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}
#entryList .remove-btn > button{

    margin-left: -2.5vw;
}

#emailList,#entryList{

    height: 17vh;
    margin-top: 10px;
    overflow: scroll ;
}
#addEmailBtn > p, #addEntryBtn > p{

    font-size: 20px;
    margin-top: -5px;
}
#productInput{

    margin-left: 1vw;
}
button:hover {
    background-color: #0056b3;
}

.list-container {
    margin-top: 20px;
    text-align: left;
    overflow-x: scroll;
}

.list-header, .list-item {
    display: flex;
    justify-content: space-between;
    padding: 0.4em;
    background-color: #f8f9fa;
    border-radius: 40px;
    margin-top: 1vh;
}

.list-header {
    font-weight: bold;
    background-color: #e9ecef;
    border-radius: 50px;
}

.serial-header, .content-header, .action-header,
.serial-number, .content-text, .remove-btn {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-text {
    width: 60%
}

.remove-btn button {
    background-color: #dc3545;
    color: white;
    height: 25px;
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.remove-btn>button>p{

    margin-top: -7px;
}

.remove-btn button:hover {
    background-color: #c82333;
}


